---
import Base from '../layouts/Base.astro';
---

<Base title="Chi siamo">
  <h1>Chi siamo</h1>
  <p>
    Gazzetta Civica è un progetto open source che mira a rendere la legislazione italiana
    più accessibile ai cittadini.
  </p>
  <p>
    Raccogliamo, organizziamo e presentiamo le leggi e i decreti pubblicati in
    Gazzetta Ufficiale in un formato chiaro e comprensibile.
  </p>
</Base>
