---
import Base from '../layouts/Base.astro';
---

<Base title="Privacy">
  <h1>Privacy Policy</h1>
  <p>
    Questo sito non raccoglie dati personali degli utenti.
  </p>
  <p>
    Non utilizziamo cookie di profilazione. Il sito potrebbe utilizzare cookie tecnici
    necessari al funzionamento.
  </p>
</Base>
